{% load exchange i18n static %}

<script>
	jQuery(function($) {
		$.getJSON('{% static "sample-stock-chart-data.json" %}', function (data) {

		  // split the data set into ohlc and volume
		  var ohlc = [],
		    volume = [],
		    dataLength = data.length,
		    // set the allowed units for data grouping
		    groupingUnits = [[
		      'week',             // unit name
		      [1]               // allowed multiples
		    ], [
		      'month',
		      [1, 2, 3, 4, 6]
		    ]],

		    i = 0;

		  for (i; i < dataLength; i += 1) {
		    ohlc.push([
		      data[i][0], // the date
		      data[i][1], // open
		      data[i][2], // high
		      data[i][3], // low
		      data[i][4] // close
		    ]);

		    volume.push([
		      data[i][0], // the date
		      data[i][5] // the volume
		    ]);
		  }


		  // create the chart
		  Highcharts.stockChart('chartdiv', {

		    rangeSelector: {
		      selected: 1
		    },

		    title: {
		      text: 'AAPL Historical'
		    },

		    yAxis: [{
		      labels: {
		        align: 'right',
		        x: -3
		      },
		      title: {
		        text: 'OHLC'
		      },
		      height: '60%',
		      lineWidth: 2,
		      resize: {
		        enabled: true
		      }
		    }, {
		      labels: {
		        align: 'right',
		        x: -3
		      },
		      title: {
		        text: 'Volume'
		      },
		      top: '65%',
		      height: '35%',
		      offset: 0,
		      lineWidth: 2
		    }],

		    tooltip: {
		      split: true
		    },

		    series: [{
		      type: 'candlestick',
		      name: 'AAPL',
		      data: ohlc,
		      dataGrouping: {
		        units: groupingUnits
		      }
		    }, {
		      type: 'column',
		      name: 'Volume',
		      data: volume,
		      yAxis: 1,
		      dataGrouping: {
		        units: groupingUnits
		      }
		    }]
		  });
		});

		function order_component() {
			return {
				data: {
					price: null,
					amount: null,
					queue_position: 0,
					base_currency: null,
					market_currency: null,
					market_pk: null,
					base_currency_balance: 0,
					market_currency_balance: 0,
					errors: {}
				},
				methods: {
					send: function(type) {
						swal.showLoading();

						var data = {
							price: this.price,
							amount: this.amount,
							market: this.market_pk,
							type: type
						};

						var vm = this;

						$.post('{% url "orderbook>create-order" %}', data, function(response) {
							vm.errors = response.errors || {};

							if (response.order) {
								swal('{% trans "Success!" %}', '{% trans "Your order has been created." %}', 'success').then(function() {
									vm.price = null;
									vm.amount = null;
								});
							}
							else if (response.error) {
								swal('{% trans "Error" %}', response.error, 'error');
							}
							else {
								swal.close();
							}
						});
					},
					find_balances: function() {
						var vm = this;

						function get_available_balance_1() {
							$.post('{% url "orderbook>get-available-balance" %}', {symbol: vm.base_currency}, function(response) {
								vm.base_currency_balance = response.available_balance;
							}).always(function() {
								setTimeout(function() {
									get_available_balance_1();
								}, 1000);
							});
						}

						function get_available_balance_2() {
							$.post('{% url "orderbook>get-available-balance" %}', {symbol: vm.market_currency}, function(response) {
								vm.market_currency_balance = response.available_balance;
							}).always(function() {
								setTimeout(function() {
									get_available_balance_2();
								}, 1000);
							});
						}

						get_available_balance_1();
						get_available_balance_2();
					}
				},
				computed: {
					total: function() {
						return (this.price * this.amount).toFixed(8);
					}
				}
			};
		}

		var new_s_order_config = order_component();
		new_s_order_config.el = '#new-s-order-app';
		var new_s_order_app = new Vue(new_s_order_config);

		var new_b_order_config = order_component();
		new_b_order_config.el = '#new-b-order-app';
		var new_b_order_app = new Vue(new_b_order_config);

		var buy_orders_app = new Vue({
			el: '#buy-orders-app',
			data: {
				orders: [],
				only_my_orders: false
			},
			methods: {
				find_orders: function() {
					var vm = this;
					
					function get_buy_orders() {
						var only_my_orders_qs = '';

						if (vm.only_my_orders) {
							only_my_orders_qs = '?only_my_orders=true';
						}

						$.get('{% url "orderbook>buy-orders" %}' + only_my_orders_qs, function(orders) {
							vm.orders = orders;
						}).always(function() {
							setTimeout(function() {
								get_buy_orders();
							}, 1000);
						});
					}

					get_buy_orders();
				},
				populate_order: function(item) {
					new_s_order_app.price = item.price;
					new_s_order_app.amount = item.amount;
				},
				cancel_order: function(pk) {
					if (confirm('{% trans "Are you sure you want delete this order?" %}')) {
						swal.showLoading();
						$.post('{% url "orderbook>cancel-my-order-view" %}', {pk: pk}, function(response) {
							swal(_("Success!"), response.message, 'success');
						});
					}
				}
			}
		});

		var sell_orders_app = new Vue({
			el: '#sell-orders-app',
			data: {
				orders: [],
				only_my_orders: false
			},
			methods: {
				find_orders: function() {
					var vm = this;

					function get_sell_orders() {
						var only_my_orders_qs = '';

						if (vm.only_my_orders) {
							only_my_orders_qs = '?only_my_orders=true';
						}

						$.get('{% url "orderbook>sell-orders" %}' + only_my_orders_qs, function(orders) {
							vm.orders = orders;
						}).always(function() {
							setTimeout(function() {
								get_sell_orders();
							}, 1000);
						});
					}

					get_sell_orders();
				},
				cancel_order: function(pk) {
					if (confirm('{% trans "Are you sure you want delete this order?" %}')) {
						$.post('{% url "orderbook>cancel-my-order-view" %}', {pk: pk}, function(response) {
							swal(_("Success!"), response.message, 'success');
						});
					}
				},
				populate_order: function(item) {
					new_b_order_app.price = item.price;
					new_b_order_app.amount = item.amount;
				}
			}
		});

		var executed_orders_app = new Vue({
			el: '#executed-orders-app',
			data: {
				orders: []
			},
			methods: {
				find_orders: function() {
					var vm = this;

					function get_executed_orders() {
						$.get('{% url "orderbook>executed-orders" %}', function(orders) {
							vm.orders = orders;
						}).always(get_executed_orders);
					}

					get_executed_orders();
				}
			}
		});


		var markets_app = new Vue({
			el: '#markets-app',
			data: {
				base_currencies: {{ base_currencies|serialize|safe }},
				base_currency: null,
				markets: null,
				market_currency: null
			},
			methods: {
				find_markets: function() {
					var vm = this;

					function get_markets() {
						$.get('{% url "orderbook>markets" %}?base_currency=' + vm.base_currency, function(response) {
							vm.markets = response;
						}).always(function() {
							setTimeout(function() {
								get_markets	();
							}, 1000);
						});
					}

					get_markets();
				},
				update_apps: function(response) {
					this.market_currency = response.market_currency;

					new_s_order_app.market_currency = response.market_currency;
					new_b_order_app.market_currency = response.market_currency;
					new_s_order_app.market_pk = response.market_pk;
					new_b_order_app.market_pk = response.market_pk;
				},
				set_base_currency: function(symbol) {
					var vm = this;

					$.post('{% url "orderbook>update-base-currency" %}', {'symbol': symbol}, function(response) {
						vm.base_currency = response.base_currency;
						new_s_order_app.base_currency = response.base_currency;
						new_b_order_app.base_currency = response.base_currency;
						
						vm.update_apps(response);
					});
				},
				set_market_currency: function(symbol) {
					var vm = this;

					$.post('{% url "orderbook>update-market-currency" %}', {'symbol': symbol}, function(response) {
						vm.market_currency = response.market_currency;
						vm.update_apps(response);
					});
				}
			},
			mounted: function() {
				var vm = this;

				$.get('{% url "orderbook>my-base-currency" %}', function(response) {
					vm.base_currency = response.base_currency;
					vm.update_apps(response);

                    buy_orders_app.find_orders();
                    sell_orders_app.find_orders();
                    executed_orders_app.find_orders();

					new_b_order_app.find_balances();
                    new_s_order_app.find_balances();
                    markets_app.find_markets();

					new_s_order_app.base_currency = response.base_currency;
					new_b_order_app.base_currency = response.base_currency;

				});
			},
			watch: {
				base_currency:  function() {
					orderbook_header.exchange_name = this.market_currency;
					orderbook_header.pair = this.market_currency + '/' + this.base_currency;
				},
				market_currency: function() {
					orderbook_header.exchange_name = this.market_currency;
					orderbook_header.pair = this.market_currency + '/' + this.base_currency;
				}
			}
		});


		var orderbook_header = new Vue({
			el: '#orderbook-header',
			data: {
				pair: '',
				exchange_name: ''
			}
		});
	});
</script>