
{% extends "core/index.html" %}
{% load i18n %}

{% block head %}
	<style>
		.tx-12 {
			font-size: 12px;
		}

        #markets-app tr.active {
            background-color: #1d2936;
            color: #FFF;
            font-weight: bold;
        }

        td:not(.show-star) .fa.fa-star, 
        td:not(.show-star) .btn {
            display: none !important;
        }

        td.show-star .fa.fa-star {
            display: inline;
        }

        .btn-xs {
            padding: 0 5px;
        }

        @import 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css';

        #main-content {
            background: #fff;
            color: #4e4f4d;
            font-family: 'Open Sans', sans-serif;
            font-size: 9pt;
            margin: 0px;
        }

        #demo * {
          -webkit-box-sizing: content-box;
          -moz-box-sizing: content-box;
          box-sizing: content-box;
        }
        #demo *:before,
        #demo *:after {
          -webkit-box-sizing: content-box;
          -moz-box-sizing: content-box;
          box-sizing: content-box;
        }

        #demo #highcharts-save {
            margin-right: 7px;
        }

        #demo #indicators-container ul {
            display: none;
            padding: 3px;
            width: 130px;
            background-color: #ffffff;
        }

        #demo #analyze-container ul {
            display: none;
            padding: 3px;
            width: 62px;
            background-color: #ffffff;
        }

        #demo #analyze-dropdown {
            width: auto;
            height: 21px;
            margin-bottom: 0px;
        }

        #demo #indicators-container li,
        #demo #analyze-container li {
            list-style: none;
        }

        #demo #indicators-container a {
            display: block;
            text-decoration: none;
        }

        #demo #analyze-container a {
            display: block;
            text-decoration: none;
            line-height: 18px;
        }

        #demo #indicators-container span {
            display: inline-block;
            width: 110px;
        }

        #demo #indicators-dropdown {
            width: auto;
            height: 21px;
            margin-bottom: 0px;
        }

        #demo .menu-btn {
            color: #000;
            cursor: pointer;
            background-color: #fff;
            border: 1px solid #cccccc;
            padding: 4px 10px;
            margin-right: 0px;
            margin-left: 0px;
            font-weight: normal;
            text-transform: none;
            line-height: 12px;
        }

        #demo .menu-btn:hover {
            background-color: #99bbdd;
            border-color: #6688aa;
        }

        #demo .right {
            float: right;
            margin-right: 10px;
        }

        #demo .select {
            width: 99px;
            overflow: hidden;
        }

        #demo .select label {}

        #demo .select-dropdown::after {
            content: '▽';
            margin: 0 0 0 10px;
            -moz-transition: 0.5s all;
            -webkit-transition: 0.5s all;
        }

        #demo .select-dropdown.dropdown-active::after {
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            text-shadow: 1px 0 rgba(0, 0, 0, 0.4);
        }

        #demo #menu-nav {
            position: absolute;
            z-index: 50;
            width: 500px;
            left: 25px;
            top: 10px;
        }

        #demo #menu-nav label {
            float: left;
            line-height: 2em;
        }

        #demo #menu-nav div {
            float: left;
            margin-left: 12px;
        }

        #demo input.menu-btn {
            border-right: 0px;
            padding: 4px 1px;
        }

        #demo input.menu-btn:hover {
            color: #000;
        }

        /* ==== BUTTONS ==== */

        #demo #menu-side {
            left: 10px;
            position: absolute;
            top: 50px;
            z-index: 100;
        }
        #demo button,
        #demo #submenu li {
            border: 1px solid transparent;
            border-radius: 2px;
            background: transparent;
            clear: both;
            cursor: pointer;
            display: block;
            margin-bottom: 10px;
            height: 30px;
            width: 30px;
            padding: 0px;
            outline: none;
            background-repeat: no-repeat;
        }


        #demo button:hover,
        #demo #submenu li:hover {
            background-color: #efefef;
        }

        #demo button.active,
        #demo #submenu li.active {
            border-color: #29ABE2;
            background-color: #efefef;
        }

        #demo button#annotation-selection {
            background-image: url(https://cdn.rawgit.com/highcharts/highcharts/a87964d6a57f5/samples/graphics/cursor.svg);
        }

        #demo button#annotation-line {
            background-image: url(https://cdn.rawgit.com/highcharts/highcharts/v6.1.0/samples/graphics/line.svg);
        }

        #demo button#annotation-rect {
            background-image: url(https://cdn.rawgit.com/highcharts/highcharts/v6.1.0/samples/graphics/rect.svg);
        }

        #demo button#annotation-circle {
            background-image: url(https://cdn.rawgit.com/highcharts/highcharts/v6.1.0/samples/graphics/circle.svg);
        }

        #demo button#annotation-arrow {
            background-image: url(https://cdn.rawgit.com/highcharts/highcharts/v6.1.0/samples/graphics/arrow.svg);
        }

        #demo button#annotation-tunnel {
            background-image: url(https://cdn.rawgit.com/highcharts/highcharts/v6.1.0/samples/graphics/tunnel.svg);
        }

        #demo button#annotation-text {
            background-image: url(https://cdn.rawgit.com/highcharts/highcharts/v6.1.0/samples/graphics/text.svg);
        }

        #demo button#annotation-fibonacci {
            background-image: url(https://cdn.rawgit.com/highcharts/highcharts/v6.1.0/samples/graphics/fibonacci.svg);
        }

        #demo button#annotation-flag {
            background-image: url(https://cdn.rawgit.com/highcharts/highcharts/v6.1.0/samples/graphics/flag.svg);
        }

        #demo button#annotation-feature {
            background-image: url(https://cdn.rawgit.com/highcharts/highcharts/v6.1.0/samples/graphics/feature.svg);
        }

        #demo #highcharts-manage-chart {
            float: right;
            position: absolute;
            right: 10px;
            top: 9px;
            z-index: 100;
        }

        #demo #highcharts-manage-chart button {
            shape-rendering: optimizeSpeed;
            clear: none;
            float: left;
            height: 23px;
            width: 23px;
        }

        #demo #highcharts-save {
            background-image: url(https://cdn.rawgit.com/highcharts/highcharts/v6.1.0/samples/graphics/save.svg);
        }

        #demo #highcharts-reset {
            background-image: url(https://cdn.rawgit.com/highcharts/highcharts/v6.1.0/samples/graphics/reset.svg);
        }

        #demo .button-group {
            position: relative;
        }

        #demo .dropdown-menu,
        #demo #indicators-container ul.dropdown-menu,
        #demo #analyze-container ul.dropdown-menu {
            border: 1px solid #cccccc;
            margin-top: -1px;
            padding: 10px;
        }

        #demo .dropdown-menu a,
        #demo #indicators-container ul.dropdown-menu a,
        #demo #analyze-container ul.dropdown-menu a {
            color: #707070;
            outline: none;
            padding: 2px 0;
        }

        #demo .dropdown-menu a,
        #demo #indicators-container ul.dropdown-menu a:hover,
        #demo #analyze-container ul.dropdown-menu a:hover {
            color: #333333;
        }

        #demo #annotation-text-form, #demo #annotation-flag-form {
            color: #707070;
            display: none;
            background-color:#fff;
            position: absolute;
            width: 240px;
            z-index: 1000;
            padding:10px;
            box-shadow: 2px 3px 20px #888888;
        }


        #demo #annotation-text-form fieldset, #demo #annotation-flag-form fieldset {
            border-color: #ccc;
            border-style: solid;
            border-width: 1px;
            margin: 0 0 10px 0;
            padding: 10px;
        }
        #demo form input[type="text"] {
            width: 100%;
        }
        #demo form .buttonrow {
            text-align: right;
            direction: rtl;
        }

        #demo legend {
            margin: 0;
            font-size: inherit;
            border-bottom: none;
        }
        #demo label {
            font-weight: inherit;
        }

        #demo .ui-dialog div.ui-dialog-titlebar.ui-widget-header {
            background: none;
            border: none;
        }

        #demo .ui-dialog div.ui-dialog-titlebar .ui-dialog-titlebar-close {
            background-color: transparent;
            border: none;
        }

        #demo .ui-widget-overlay.ui-front {
            z-index: 0!important;
        }

        #demo {
            position: relative;
        }

        #demo #menu-side div {
            float: left;
        }

        #demo #submenu {
            display: none;
            width: 158px;
            pointer-events: none;
            position: absolute;
            z-index: 9999;
            margin-top: -186px;
            margin-left: -5px;
        }

        #demo .left {
            width: 42px;
        }

        #demo .main {
            width: 42px;
            padding: 10px;
            border-left: 1px solid #cccccc;
            border-top: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
            height: 23px;
        }

        #demo .inner {
            background: #fff;
            width: 32px;
            padding: 0px 10px;
            border-top: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
            pointer-events: auto;
        }

        #demo .empty {
            border-right: 1px solid #cccccc;
            height: 138px;
            width: 41px;
        }

        #demo #submenu ul {
            margin: 10px 0;
            padding: 0;
        }

        #demo #submenu li {
            margin-bottom: 11px;
        }

        #demo #submenu li:last-child {
            margin-bottom: 0px;
        }

        #demo #submenu li#flag-flag {
            background-image: url(https://cdn.rawgit.com/highcharts/highcharts/v6.1.0/samples/graphics/flag-flag.svg);
        }

        #demo #submenu li#flag-circlepin {
            background-image: url(https://cdn.rawgit.com/highcharts/highcharts/v6.1.0/samples/graphics/flag-circlepin.svg);
        }

        #demo #submenu li#flag-squarepin {
            background-image: url(https://cdn.rawgit.com/highcharts/highcharts/v6.1.0/samples/graphics/flag-squarepin.svg);
        }

        #demo #submenu li#flag-diamondpin {
            background-image: url(https://cdn.rawgit.com/highcharts/highcharts/v6.1.0/samples/graphics/flag-diamondpin.svg);
        }

        #demo #container-inner .crosshair-on-point .highcharts-tracker path:hover,
        #demo #container-inner .crosshair-on-chart .highcharts-plot-background:hover,
        #demo #container-inner .crosshair-on-annotation .highcharts-annotation:hover,
        #demo #container-inner .crosshair-on-annotation .highcharts-flags-series:hover {
            cursor: crosshair;
        }

	</style>
{% endblock %}

{% block content %}
	<h2 class="page-title"><i class="zmdi zmdi-assignment"></i> {% trans "Orderbook" %}</h2>

	<div class="card-box">
		<div class="row">
                <div class="col-md-8">
                    <div id="orderbook-header" class="m-b-20">
                        <h2 v-text="exchange_name + ' {% trans "Exchange" %}'"></h2>
                        <h6 v-text="pair"></h6>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="card" id="new-b-order-app">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <h6 class="mg-b-0 box-shadow tx-roboto tx-black"><i class="zmdi zmdi-chevron-down"></i> <span v-text="'{% trans "Buy" %} ' + base_currency"></h6>
                                            <p class="tx-12 mg-b-5">{% trans "Start buy here" %}</p>
                                        </div>
                                        <div class="col-sm-5">
                                            <button type="submit" class="btn btn-primary float-right" @click.prenvent="send('b')"><i class="zmdi zmdi-chevron-down"></i> {% trans "Buy" %}</button>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="tx-12">{% trans "Price" %}</label><br>
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="form-control form-control-sm" v-model="price" step="0.000001" min="0">
                                            <span class="input-group-addon tx-size-sm lh-2" v-text="base_currency"></span>
                                        </div>
                                        <small v-text="base_currency + ' ' + '{% trans "available balance" %}: '"></small>
                                        <small><strong v-text="base_currency_balance"></strong></small>
                                        <div class="help-block form-text text-muted form-control-feedback" v-show="errors.price">
                                            <ul class="parsley-errors-list filled">
                                                <li v-for="error_message in errors.price" v-text="error_message"></li>
                                            </ul>
                                          </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="tx-12">{% trans "Amount" %}</label>
                                        <div class="input-group input-group-sm">
                                            <input type="number" name="" class="form-control form-control-sm" v-model="amount" step="0.000001" min="0">
                                            <span class="input-group-addon tx-size-sm lh-2" v-text="market_currency"></span>
                                        </div>
                                        <small v-text="market_currency + ' ' + '{% trans "available balance" %}: '"></small>
                                        <small><strong v-text="market_currency_balance"></strong></small>
                                        <div class="help-block form-text text-muted form-control-feedback" v-show="errors.amount">
                                            <ul class="parsley-errors-list filled">
                                                <li v-for="error_message in errors.amount" v-text="error_message"></li>
                                            </ul>
                                          </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="tx-12">{% trans "Total" %}</label>
                                    <div class="input-group input-group-sm">
                                            <input disabled="disabled" type="text" name="" class="form-control form-control-sm" :value="total">
                                            <span class="input-group-addon tx-size-sm lh-2" v-text="base_currency"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                             <div class="card" id="new-s-order-app">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <h6 class="mg-b-0 box-shadow tx-roboto tx-black"><i class="zmdi zmdi-chevron-up"></i> <span v-text="'{% trans "Sell" %} ' + base_currency"></span></h6>
                                            <p class="tx-12 mg-b-5">{% trans "Start sell here" %}</p>
                                        </div>
                                        <div class="col-sm-5">
                                            <button type="submit" class="btn btn-danger float-right" @click.prenvent="send('s')"><i class="zmdi zmdi-chevron-up"></i> {% trans "Sell" %}</button>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="tx-12">{% trans "Price" %}</label><br>
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="form-control form-control-sm" v-model="price" step="0.000001" min="0">
                                            <span class="input-group-addon tx-size-sm lh-2" v-text="base_currency"></span>
                                        </div>
                                        <small v-text="base_currency + ' ' + '{% trans "available balance" %}: '"></small>
                                        <small><strong v-text="base_currency_balance"></strong></small>
                                        <div class="help-block form-text text-muted form-control-feedback" v-show="errors.price">
                                            <ul class="parsley-errors-list filled">
                                                <li v-for="error_message in errors.price" v-text="error_message"></li>
                                            </ul>
                                          </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="tx-12">{% trans "Amount" %}</label>
                                        <div class="input-group input-group-sm">
                                            <input type="number" name="" class="form-control form-control-sm" v-model="amount" step="0.000001" min="0">
                                            <span class="input-group-addon tx-size-sm lh-2" v-text="market_currency"></span>
                                        </div>
                                        <small v-text="market_currency + ' ' + '{% trans "available balance" %}: '"></small>
                                        <small><strong v-text="market_currency_balance"></strong></small>
                                        <div class="help-block form-text text-muted form-control-feedback" v-show="errors.amount">
                                            <ul class="parsley-errors-list filled">
                                                <li v-for="error_message in errors.amount" v-text="error_message"></li>
                                            </ul>
                                          </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="tx-12">{% trans "Total" %}</label>
                                    <div class="input-group input-group-sm">
                                            <input disabled="disabled" type="text" name="" class="form-control form-control-sm" :value="total">
                                            <span class="input-group-addon tx-size-sm lh-2" v-text="base_currency"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" id="markets-app">
                	<div class="row">
                        <div class="col-sm-8">
                            <h2 class="tx-roboto tx-black"><i class="zmdi zmdi-chart"></i> {% trans "Markets" %}</h2>
                        </div>
                        <div class="col-sm-4">
                        	<div class="btn-group btn-group-sm pull-right" role="group">
                              <button type="button" v-for="item in base_currencies" :class="{'btn': true, 'btn-dark active': item.symbol == base_currency, 'btn-primary': item.symbol != base_currency}" @click.prevent="set_base_currency(item.symbol)" v-text="item.symbol"></button>
							</div>
                        </div>
                    </div>
                    <table class="table table-sm table-striped table-hover tx-12 m-t-10">
                        <thead>
                            <tr>
                                <th class="text-right"><i class="zmdi zmdi-label-alt"></i> {% trans "Coin" %}</th>
                                <th class="text-right"><i class="zmdi zmdi-label-alt"></i> {% trans "Symbol" %}</th>
                                <th class="text-right"><i class="zmdi zmdi-money"></i> {% trans "Price" %}</th>
                                <th class="text-right"><i class="zmdi zmdi-money"></i> {% trans "Volume" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr :class="{'text-right': true, 'active': item.currency == market_currency}" v-for="item in markets" @click.prevent="set_market_currency(item.currency)">
                                <td v-text="item.name"></td>
                                <td v-text="item.currency"></td>
                                <td v-text="item.price"></td>
                                <td v-text="item.volume"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-box m-t-20">
                <h5 class="m-b-20"><i class="zmdi zmdi-chart"></i> {% trans "Market trade chart" %}</h5>
                <div id="demo">
                    <div id="menu-side">
                        <button id="annotation-selection"
                                data-description="Select an annotation. Click on the annotation and it will be outlined.">
                        </button>
                        <button id="annotation-line"
                                data-description="Draw a line. Click for the start point, click again for the end point.">
                        </button>
                        <!-- <button id="annotation-rect" data-description="Add a rectangle. It sticks to the series when candle is clicked. It is not related to any point on a chart otherwise and it won't scale while scaling the chart."></button>
                        <button id="annotation-circle" data-description="Add a circle. It sticks to the series when candle is clicked. It is not related to any point on a chart otherwise and it won't scale while scaling the chart."></button> -->
                        <button id="annotation-arrow"
                                data-description="Draw an arrow. Click for the start point, click again for the end point.">
                        </button>
                        <button id="annotation-tunnel"
                                data-description="Draw a tunnel. Click on two candles to show a tunnel between them.">
                        </button>
                        <button id="annotation-text"
                                data-description="Add a text annotation. Click anywhere in the plot area to place a text there.">
                        </button>
                        <button id="annotation-fibonacci"
                                data-description="Draw Fibonacci retracements. Click on two points to show retracement lines between them.">
                        </button>
                        <button id="annotation-flag"
                                data-description="Add various flags to the chart. Click on any point on a series to add a flag.">
                        </button>
                        <!-- <button id="annotation-feature" data-description="Example of adding any type of object to the chart."></button> -->
                        <div id="submenu">
                            <div class="left">
                                <div class="empty">
                                </div>
                                <div class="main">
                                </div>
                            </div>
                            <div>
                                <div class="inner">
                                    <ul>
                                        <li id="flag-circlepin"></li>
                                        <li id="flag-diamondpin"></li>
                                        <li id="flag-squarepin"></li>
                                        <li id="flag-flag"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="menu-nav">
                        <div id="analyze-container">
                            <div class="button-group">
                                <button id="analyze-dropdown" class="menu-btn select-dropdown">
                                    Demos
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" class="small" data-value="0" tabIndex="-1">
                                            <span> Demo #1 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="small" data-value="1" tabIndex="-1">
                                            <span> Demo #2 </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="indicators-container">
                            <div class="button-group">
                                <button id="indicators-dropdown" class="menu-btn select-dropdown">
                                    Indicators
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#" class="small" data-axis="true" data-value="atr" tabIndex="-1">
                                            <span> ATR </span><input type="checkbox"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="small" data-value="bb" tabIndex="-1">
                                            <span> Bollinger bands </span><input type="checkbox"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="small" data-axis="true" data-value="cci" tabIndex="-1">
                                            <span> CCI </span><input type="checkbox"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="small" data-value="ema" tabIndex="-1">
                                            <span> EMA </span><input type="checkbox"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="small" data-value="ikh" tabIndex="-1">
                                            <span> Ichimoku Kinko Hyo </span><input type="checkbox"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="small" data-axis="true" data-value="macd" tabIndex="-1">
                                            <span> MACD </span><input type="checkbox"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="small" data-value="pivotpoints" tabIndex="-1">
                                            <span> Pivot Points </span><input type="checkbox"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="small" data-value="priceenvelopes" tabIndex="-1">
                                            <span> Price Envelopes </span><input type="checkbox"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="small" data-axis="true" data-value="roc" tabIndex="-1">
                                            <span> ROC </span><input type="checkbox"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="small" data-axis="true" data-value="rsi" tabIndex="-1">
                                            <span> RSI </span><input type="checkbox" selected="true"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="small" data-value="sma" tabIndex="-1">
                                            <span> SMA </span><input type="checkbox"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="small" data-axis="true" data-value="stochastic" tabIndex="-1">
                                            <span> Stochastic </span><input type="checkbox"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="small" data-value="wma" tabIndex="-1">
                                            <span> WMA </span><input type="checkbox"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="small" data-value="zigzag" tabIndex="-1">
                                            <span> Zig Zag </span><input type="checkbox"/>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="highcharts-manage-chart">
                        <button id="highcharts-save" data-tt-below="true"
                                data-description="Saves your chart in your browser's memory. If you come back later, the chart will be still here.">
                        </button>
                        <button id="highcharts-reset" data-tt-below="true"
                                data-description="Removes all annotations and indicators from the chart.">
                        </button>
                    </div>

                    <div id="container-inner"></div>

                    <div id='annotation-text-form'>
                        <form id="add-text-annotation">
                            <fieldset>
                                <legend>Text</legend>
                                <input type='text' id='text' />
                            </fieldset>

                            <fieldset>
                                <legend>Background color</legend>
                                <div>
                                    <label>
                              <input type='radio' value='rgba(0, 0, 0, 0.75)' name='background-color' checked>
                              Black
                          </label>
                                </div>
                                <div>
                                    <label>
                              <input type='radio' value='rgba(255, 0, 0, 0.75)' name='background-color'>
                              Red
                          </label>
                                </div>
                                <div>
                                    <label>
                              <input type='radio' value='rgba(0, 0, 255, 0.75)' name='background-color'>
                              Blue
                          </label>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>Shape</legend>
                                <div>
                                    <label>
                              <input type='radio' name='shape' value='callout' checked>
                              Callout
                          </label>
                                </div>
                                <div>
                                    <label>
                              <input type='radio' name='shape' value='connector'>
                              Connector
                          </label>
                                </div>
                                <div>
                                    <label>
                              <input type='radio' name='shape' value='circle'>
                              Circle
                          </label>
                                </div>
                            </fieldset>

                            <input type='hidden' id='x' />
                            <input type='hidden' id='y' />

                            <div class='buttonrow'>
                                <input type='submit' class='button' value='OK'/>
                                <input type='submit' class='cancel button' value='Cancel' />
                            </div>
                        </form>
                    </div>
                    <div id='annotation-flag-form'>
                        <form id="add-flag-annotation">
                            <fieldset>
                                <legend>Title</legend>
                                <input type='text' id='flag-title' maxlength='3' style="width: 50%"/>
                            </fieldset>
                            <fieldset>
                                <legend>Tooltip text</legend>
                                <input type='text' id='flag-text' />
                            </fieldset>

                            <div class='buttonrow'>
                                <input type='submit' class='button' value='OK'/>
                                <input type='submit' class='cancel button' value='Cancel' />
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row m-t-30">
                <div class="col-md-6">
                    <div class="card-box" id="sell-orders-app">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5>
                                    <i class="zmdi zmdi-chevron-up"></i> {% trans "Sell Orders" %}
                                    <div class="custom-control custom-checkbox pull-right">
                                        <label for="myorder-sell" style="font-size: 14px;">
                                            <input type="checkbox" id="myorder-sell" v-model="only_my_orders">
                                            {% trans "See only my orders" %}
                                        </label>
                                    </div>
                                </h5>
                            </div>
                        </div>
                        <hr>
                        <table class="bd table table-sm table-striped table-hover tx-12 tx-roboto tx-gray-900">
                            <thead>
                                <tr role="row">
                                    <th class="text-right">
                                        <i class="zmdi zmdi-balance"></i> {% trans "Price" %}
                                    </th>
                                    <th class="text-right">
                                        <i class="zmdi zmdi-money"></i> {% trans "Amount" %}
                                    </th>
                                    <th class="text-right">
                                        <i class="zmdi zmdi-chart"></i> {% trans "Total" %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="text-right">
                                <tr v-for="item in orders" @click.prevent="populate_order(item)">
                                    <td v-text="item.price + ' - ' + item.price_currency"></td>
                                    <td v-text="item.amount + ' - ' + item.amount_currency"></td>
                                    <td v-text="item.total + ' - ' + item.price_currency"></td>
                                    <td :class="{'show-star': item.is_mine}"><i class="fa fa-star"></i> <a href="#" @click.prevent="cancel_order(item.pk)" class="btn btn-xs btn-danger" title="{% trans "Cancel my order" %}"><strong>&times;</strong></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card-box" id="buy-orders-app">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5>
                                    <i class="zmdi zmdi-chevron-down"></i> {% trans "Buy Orders" %}
                                    <div class="custom-control custom-checkbox pull-right">
                                        <label for="myorder-buy" style="font-size: 14px;">
                                            <input type="checkbox" id="myorder-buy" v-model="only_my_orders">
                                            {% trans "See only my orders" %}
                                        </label>
                                    </div>
                                </h5>
                            </div>
                        </div>
                        <hr>
                        <table class="bd table table-sm table-striped table-hover tx-12 tx-roboto tx-gray-900">
                            <thead>
                                <tr role="row">
                                    <th class="text-right">
                                        <i class="zmdi zmdi-balance"></i> {% trans "Price" %}
                                    </th>
                                    <th class="text-right">
                                        <i class="zmdi zmdi-money"></i> {% trans "Amount" %}
                                    </th>
                                    <th class="text-right">
                                        <i class="zmdi zmdi-chart"></i> {% trans "Total" %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="text-right">
                                <tr v-for="item in orders" @click.prevent="populate_order(item)">
                                    <td v-text="item.price + ' - ' + item.price_currency"></td>
                                    <td v-text="item.amount + ' - ' + item.amount_currency"></td>
                                    <td v-text="item.total + ' - ' + item.price_currency"></td>
                                    <td :class="{'show-star': item.is_mine}"><i class="fa fa-star"></i> <a href="#" @click.prevent="cancel_order(item.pk)" class="btn btn-xs btn-danger" title="{% trans "Cancel my order" %}"><strong>&times;</strong></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>

        <div class="row m-t-30">
            <div class="col-md-12">
                <div class="card-box" id="executed-orders-app">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><i class="zmdi zmdi-time-restore"></i> {% trans "Orders History" %}</h5>
                        </div>
                    </div>
                    <hr>
                    <table class="bd table table-sm table-striped table-hover tx-12 tx-roboto tx-gray-900">
                        <thead>
                            <tr role="row"><th class="text-right" rowspan="1" colspan="1" style="width: 426px;"><i class="zmdi zmdi-calendar"></i> Date</th><th class="text-right" rowspan="1" colspan="1" style="width: 118px;"><i class="zmdi zmdi-label-alt"></i> Type</th><th class="text-right" rowspan="1" colspan="1" style="width: 261px;"><i class="zmdi zmdi-balance"></i> Price (BTC)</th><th class="text-right" rowspan="1" colspan="1" style="width: 360px;"><i class="zmdi zmdi-money"></i> Amount (BTS)</th><th class="text-right" rowspan="1" colspan="1" style="width: 264px;"><i class="zmdi zmdi-chart"></i> Total (BTC)</th>
                                <th></th></tr>
                        </thead>
                        <tbody class="text-right">
                            <tr v-for="item in orders">
                                <td v-text="item.updated"></td>
                                <td v-text="item.type"></td>
                                <td v-text="item.price"></td>
                                <td v-text="item.amount"></td>
                                <td v-text="item.total"></td>
                                <td :class="{'show-star': item.is_mine}"><i class="fa fa-star"></i></td>
                            </tr>
                        </tbody>
                </table>
                </div>
            </div>
        </div>
	</div>
{% endblock %}

{% block scripts %}
    {% include "orderbook/scripts/stock-chart.html" with base_currencies=base_currencies %}
    {% include "orderbook/scripts/orders.vue.html" with base_currencies=base_currencies %}
{% endblock %}